
*.dll
*.o
*.user
build/cgame/Makefile.Release
build/cgame/Makefile.Debug
*.Debug
*.Release
*.a
build/debug/baseq3/chronic-nobots.pk3
build/debug/baseq3/6++.pk3
build/debug/baseq3/madddm1.pk3
build/debug/baseq3/map_oxodm21.pk3
*.d
*.pk3
build/debug/baseq3/autoexec.cfg
build/debug/baseq3/q3config.cfg
*.exe
build/debug/osp/q3history
*.cfg
build/debug/baseq3/q3history
*.log
*.stash
*.pid
*.user
quake.creator.user
build/debug/qkey
build/ui/Makefile
build/cgame/Makefile
build/Makefile
build/qagame/Makefile
